.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  background: linear-gradient(
    to bottom,
    rgba(226, 226, 226, 1) 0%,
    rgba(219, 219, 219, 1) 50%,
    rgba(209, 209, 209, 1) 51%,
    rgba(254, 254, 254, 1) 100%
  );
  /* align-items: center; */
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.field .value {
  font-size: 80px;
  color: #ccc;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.field .label {
  text-transform: uppercase;
}
